<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springbootmybatis.mapper.UserMapper">

    <select id="getAll" resultType="com.springbootmybatis.model.UserEntity">
        select * from wemall_user
    </select>

    <select id="getOne" parameterType="Long" resultType="com.springbootmybatis.model.UserEntity">
        select * from wemall_user where id=#{id}
    </select>

</mapper>